<%- include('../../views/header_email.ejs') %>

  <div style="background-color: #f9f9f9; padding: 20px; border-radius: 10px;">

    <p style="margin-bottom: 20px; font-size: 18px; color: #333;">
      ¡Hola <strong>
        <%= usuario.nombre %>
      </strong>!
    </p>

    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      Te damos la bienvenida a <strong>Schnell</strong>, el sistema de cotizaciones entre empresas más ágil y confiable.
    </p>

    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      Aquí están tus credenciales iniciales:
    </p>

    <ul style="font-size: 16px; color: #555;">
      <li><strong>Email de acceso:</strong>
        <%= usuario.email %>
      </li>
      <li><strong>Contraseña inicial:</strong>
        <%= password %>
      </li>
    </ul>

    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      Por razones de seguridad, deberás cambiar tu contraseña al iniciar sesión por primera vez.
    </p>

    <p style="margin-bottom: 20px; font-size: 16px; color: #555;">
      ¡Gracias por formar parte de Schnell!
    </p>

  </div>

  <%- include('../../views/footer_email.ejs') %>